<footer class="section-contacts" fragmentTarget="section-contacts" fxLayout="row" fxFlex="100%" fxLayoutAlign="center"
  id="section-7">
  <div fxFlex.gt-xs="83%" fxFlex.xs="100%">
    <div class=" container" fxLayout="row" fxLayout.lt-md="column" fxFlex="100%" fxLayoutAlign="center center">

      <div class="connect" fxLayout="column" fxFlex="50%">
        <div class="contact " fxLayout="row" fxFlex="100%" fxLayoutAlign.xs="center" fxLayoutAlign.gt-xs="start">
          <div class="contact-title ">
            <div>
              <h2>Let's Connect</h2>
              <div class="line-contact" fxLayoutAlign="start"></div>
            </div>
            <br>
            <br>
            <div class="icons">
              <span class="icon"><i class="fab fa-facebook-f"></i></span>
              <span class="icon"><i class="fab fa-twitter"></i></span>
              <span class="icon"><i class="fab fa-instagram"></i></span>
              <span class="icon"><i class="fab fa-youtube"></i></span>
            </div>
            <br>
            <br>
            <div>
              <h2>Contact Details</h2>
              <div class="line-contact"></div>
            </div>
            <br>
          </div>
        </div>

        <div class="icon-description" fxLayout="column" fxFlex.xs="100%" fxFlex.gt-xs="50%" ngClass.lt-md="lt-media">
          <div class="info " fxLayout="column" fxFlex="100%">
            <div fxLayout="row">
              <span class="icon"><i class="fas fa-map-marker"></i></span>
              <div class="text " fxFlex="83%" fxLayoutAlign="center center">
                <p>Lorem ipsum dolor sit amet.lorem</p>
              </div>
            </div>
            <div fxLayout="row">
              <span class="icon"><i class="fas fa-phone"></i></span>
              <div class="text  " fxFlex="83%" fxLayoutAlign="center center">
                <p>Lorem ipsum dolor sit amet.lorem </p>
              </div>
            </div>
            <div fxLayout="row">
              <span class="icon"><i class="fas fa-phone"></i></span>
              <div class="text " fxFlex="83%" fxLayoutAlign="center center">
                <p>Lorem ipsum dolor sit amet.lorem </p>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="form  " fxLayout="column" fxFlex.xs="100%" fxFlex.gt-xs="50%" fxLayoutAlign="center center">
        <div class="title">
          <h1>Get in Touch</h1>
        </div>
        <div class="imputs" fxLayout="column" fxLayoutAlign="center center" fxFlex="91%">
          <input class="input" placeholder="    Your Email" required>
          <input class="input" placeholder="    Your Email" required>
          <input class="input-description" placeholder="    Your Email" required>
          <div class="button " fxLayoutAlign="center center">
            <button class="button1 ">Button</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
