<!--The content below is only a placeholder and can be replaced.-->
<navbar></navbar>
<section class="sections" fxLayout="column">
  <section class="section-meet" fragmentTarget="section-meet" fxLayout="row" fxLayoutAlign="center center" fxFlex="100%"
    id="section-2">
    <div fxFlex.gt-xs="83%" fxFlex.xs="100%">
      <div class="container " fxLayoutAlign="center" fxLayout="row">
        <div class="content " fxLayout="column" fxLayoutAlign="center center" fxFlex.gt-xs="66%" fxFlex.xs="100%">
          <h1 class="title">Meet Ally</h1>
          <div class="wrapper" fxLayout="row" fxLayoutAlign="center center">
            <div class="line"></div>
            <p class="subtitle">LOREM IPSUM DOLOR</p>
            <div class="line"></div>
          </div>
          <p class="description" fxLayoutAlign="center">Lorem ipsum dolor sit amet consectetur adipisicing elit.
            Adipisci, maxime? Blanditiis ex nam Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
          <button class="button1" fxLayoutAlign="center center">Button</button>
        </div>
      </div>
    </div>
  </section>

  <section class="section-card" fxLayout="row" fxLayoutAlign="center center" fxFlex="100%">
    <div fxFlex.gt-xs="83%" fxFlex.xs="100%">
      <div class="container" fxLayout="row" fxLayoutAlign="center center" fxFlex.gt-xs="100%" fxFlex.xs="100%"
        fxLayoutAlign="center center">
        <div class=" card " fxLayout="row wrap" fxLayoutAlign="center center">
          <div class="content" fxLayout="column" fxLayoutAlign="center center">
            <div class="imageIcon " fxLayoutAlign="center center">
              <span class="icon"><i class="far fa-check-square"></i></span>
            </div>
            <div class="description" fxLayout="column" fxLayoutAlign="center center">
              <h4>LOREM IPSUM</h4>
              <p>Lorem ipsum dolor sit amet consectetur </p>
            </div>
          </div>
          <div class="content" fxLayout="column" fxLayoutAlign="center center">
            <div class="imageIcon" fxLayoutAlign="center center">
              <span class="icon"><i class="fas fa-arrows-alt-v"></i></span>
            </div>
            <div class="description" fxLayout="column" fxLayoutAlign="center center">
              <h4>LOREM IPSUM</h4>
              <p>Lorem ipsum dolor sit amet consectetur</p>
            </div>
          </div>
          <div class="content" fxLayout="column" fxLayoutAlign="center center">
            <div class="imageIcon " fxLayoutAlign="center center">
              <span class="icon"><i class="far fa-star"></i></span>
            </div>
            <div class="description" fxLayout="column" fxLayoutAlign="center center">
              <h4>LOREM IPSUM</h4>
              <p>Lorem ipsum dolor sit amet consectetur </p>
            </div>
          </div>
          <div class="content" fxLayout="column" fxLayoutAlign="center center">
            <div class="imageIcon" fxLayoutAlign="center center">
              <span class="icon"><i class="far fa-file-alt"></i></span>
            </div>
            <div class="description" fxLayout="column" fxLayoutAlign="center center">
              <h4>LOREM IPSUM</h4>
              <p>Lorem ipsum dolor sit amet consectetur</p>
            </div>
          </div>
          <div class="content" fxLayout="column" fxLayoutAlign="center center">
            <div class="imageIcon" fxLayoutAlign="center center">
              <span class="icon"><i class="fas fa-mouse-pointer"></i></span>
            </div>
            <div class="description" fxLayout="column" fxLayoutAlign="center center">
              <h4>LOREM IPSUM</h4>
              <p>Lorem ipsum dolor sit amet consectetur</p>
            </div>
          </div>
          <div class="content" fxLayout="column" fxLayoutAlign="center center">
            <div class="imageIcon" fxLayoutAlign="center center">
              <span class="icon"> <i class="fas fa-camera"></i></span>
            </div>
            <div class="description" fxLayout="column" fxLayoutAlign="center center">
              <h4>LOREM IPSUM</h4>
              <p>Lorem ipsum dolor sit amet consectetur</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="section-wrors" fxLayout="row" fxLayoutAlign="center center" fxFlex="100%">
    <div fxFlex.gt-xs="83%" fxFlex.xs="100%">
      <div class="container" fxLayout="row" fxLayout.lt-md="column" fxFlex="100%" fxLayoutAlign="center center">
        <div class="content-imagen" fxLayoutAlign="center center" fxFlex="100%">
          <div class="imagen" fxLayoutAlign="center center" fxFlex="100%">
          </div>
        </div>
        <div class="infos" fxLayoutAlign="center center" fxLayout.lt-md="100%" fxFlex="50%">
          <div class="info-container" fxLayout="column" fxLayoutAlign="center start" fxFlex="80%">
            <h2>A FEW WORDS</h2>
            <div class="line2"></div>
            <br>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
              Repellat tenetur nulla, enim quas id illum minima molestias
              impedit est dicta </p>
            <br>
            <button class="button1" fxLayoutAlign="center center">Button</button>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="section-counter" fxLayout="row" fxLayoutAlign="center center" fxFlex="100%" >
    <div fxFlex.gt-xs="83%" fxFlex.xs="100%">
      <div  class="container" fxLayout="row wrap" fxLayoutAlign="center center"
        fxFlex.gt-xs="100%" fxFlex.xs="100%" (inViewport)="startCounters()">
        <div class=" card " fxLayout="row" fxLayoutAlign="center center">
          <div class="content" fxLayout="column" fxLayoutAlign="center center">
            <div counter [to]="13" [duration]="10" countUp endVal="13" class="counter">13</div>
            <div class="line2"></div>
            <p>Lorem ipsum</p>
          </div>
        </div>
        <div class=" card" fxLayout="row" fxLayoutAlign="center center">
          <div class="content" fxLayout="column" fxLayoutAlign="center center">
            <div counter [to]="540" [duration]="10" class="counter">540</div>
            <div class="line2"></div>
            <p>Lorem ipsum</p>
          </div>
        </div>
        <div class=" card" fxLayout="row" fxLayoutAlign="center center">
          <div class="content" fxLayout="column" fxLayoutAlign="center center">
            <div counter [to]="29" [duration]="10" class="counter">29</div>
            <div class="line2"></div>
            <p>Lorem ipsum</p>
          </div>
        </div>
        <div class="card" fxLayout="row" fxLayoutAlign="center center">
          <div class="content" fxLayout="column" fxLayoutAlign="center center">
            <div counter [to]="100" [duration]="10" class="counter">100%</div>
            <div class="line2"></div>
            <p>Lorem ipsum</p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="section-services" fxLayout="row" fxLayoutAlign="center center" fxFlex="100%">
    <div fxFlex.gt-xs="83%" fxFlex.xs="100%">
      <div class="container" fxLayout="column" fxLayoutAlign="center center" fxFlex.gt-xs="100%" fxFlex.xs="100%">

        <div class="content" fxLayout="column" fxLayoutAlign="center center">
          <div class="wrapper center-xs">
            <div class="line"></div>
            <h1 class="title">Services</h1>
            <div class="line"></div>
          </div>
        </div>

        <div class="cards" fxLayout="row wrap" fxLayoutAlign="center center" fxFlex="100%">
          <div class=" card" fxLayout="column" fxLayoutAlign="center center">
            <div class="content1 " fxLayout="column" fxLayoutAlign="center center">
              <div class="image" fxLayout="row" fxLayoutAlign="center center">
                <span class="icon"> <i class="fas fa-camera"></i></span>
              </div>
              <div class="description" fxLayout="column" fxLayoutAlign="center center">
                <h4>PHOTOGRAPHY</h4>
                <br>
                <p>Lorem ipsum dolor sit amet consectetur
                  Lorem ipsum dolor sit amet consectetur,
                  adipisicing elit. Libero exercitationem</p>
              </div>
            </div>
          </div>
          <div class="card" fxLayout="column" fxLayoutAlign="center center">
            <div class="content2" fxLayout="column" fxLayoutAlign="center center">
              <div class="image" fxLayout="row" fxLayoutAlign="center center">
                <span class="icon"><i class="fas fa-broom"></i></span>
              </div>
              <div class="description" fxLayout="column" fxLayoutAlign="center center">
                <h4>DESING</h4>
                <br>
                <p>Lorem ipsum dolor sit amet consectetur
                  Lorem ipsum dolor sit amet consectetur
                  adipisicing elit. Libero exercitationem</p>
              </div>
            </div>
          </div>
          <div class=" card " fxLayout="column" fxLayoutAlign="center center">
            <div class="content3" fxLayout="column" fxLayoutAlign="center center">
              <div class="image" fxLayout="row" fxLayoutAlign="center center">
                <span class="icon"><i class="fab fa-discourse"></i></span>
              </div>
              <div class="description" fxLayout="column" fxLayoutAlign="center center">
                <h4>PLANNING</h4>
                <br>
                <p>Lorem ipsum dolor sit amet consectetur
                  Lorem ipsum dolor sit amet consectetur,
                  adipisicing elit. Libero exercitationem</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="section-features" fxLayout="row" fxLayoutAlign="center center" fxFlex="100%">
    <div fxFlex.gt-xs="83%" fxFlex.xs="100%">

      <div class="container" fxLayout="row wrap" fxLayout.lt-md="column" fxLayoutAlign="center center">
        <div class="content" fxLayout="column" fxFlex="100%" fxLayoutAlign="center center">
          <div class="wrapper" fxLayoutAlign="center center">
            <div class="line"></div>
            <h1 class="title"> Features </h1>
            <div class="line"></div>
          </div>
        </div>

        <div fxLayout="row" fxLayoutAlign="center center" fxLayout="row" fxLayout.lt-md="column" fxFlex="100%">
          <div fxLayout="column" fxFlex="33%" fxLayoutAlign="center center">

            <div class="items" fxFlex="100%" fxLayout="row" fxLayoutAlign="center center">
              <div class="text" fxLayout="column">
                <h4 class="subtitle1">LOREM IPSUM</h4>
                <p class="description1" fxFlexAlign="end">Lorem ipsum dolor sit amet consectetur
                  adipisicing elit. </p>
              </div>
              <div class="imageRadius" fxLayout="row" fxLayoutAlign="center center">
                <span class="icon"><i class="fas fa-check"></i></span>
              </div>
            </div>
            <div class="items" fxFlex="100%" fxLayout="row" fxLayoutAlign="center center">
              <div class="text" fxLayout="column">
                <h4 class="subtitle1">LOREM IPSUM</h4>
                <p class="description1" fxFlexAlign="end">Lorem ipsum dolor sit amet consectetur
                  adipisicing elit. </p>
              </div>
              <div class="imageRadius" fxLayout="row" fxLayoutAlign="center center">
                <span class="icon"><i class="fas fa-check"></i></span>
              </div>
            </div>
            <div class="items" fxFlex="100%" fxLayout="row" fxLayoutAlign="center center">
              <div class="text" fxLayout="column">
                <h4 class="subtitle1">LOREM IPSUM</h4>
                <p class="description1" fxFlexAlign="end">Lorem ipsum dolor sit amet consectetur
                  adipisicing elit. </p>
              </div>
              <div class="imageRadius" fxLayout="row" fxLayoutAlign="center center">
                <span class="icon"><i class="fas fa-check"></i></span>
              </div>
            </div>
          </div>

          <div class=" center-xs" fxLayout="column" fxFlex="20%" fxLayoutAlign="center center" >
            <div class="phone" fxLayout="row" fxFlex="100%" fxLayoutAlign="center center">
              <div class="phone-imagen" fxLayout="column" fxFlex="75%" fxLayoutAlign="center center">
                <div class="imagen-logo " fxLayout="column" fxFlex="70%">
                  <div class="logo">
                    <h1 class="title">Ally</h1>
                    <p class="subtitle">HAS IT ALL</p>
                  </div>
                  <div fxLayout="row" fxFlex="100%" fxLayoutAlign="center end">
                    <span class="icon" fragmentAnchor="section-contacts">
                      <i class="fas fa-angle-down"></i>
                    </span>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div fxLayout="column" fxFlex="33%" fxLayoutAlign="center center">
            <div class="items" fxFlex="100%" fxLayout="row" fxLayoutAlign="center center">
              <div class="imageRadius" fxLayout="row" fxLayoutAlign="center center">
                <span class="icon"><i class="fas fa-check"></i></span>
              </div>
              <div class="text" fxLayout="column">
                <h4 class="subtitle2">LOREM IPSUM</h4>
                <p class="description2" fxFlexAlign="end">Lorem ipsum dolor sit amet consectetur
                  adipisicing elit. </p>
              </div>
            </div>

            <div class="items" fxFlex="100%" fxLayout="row" fxLayoutAlign="center center">
              <div class="imageRadius" fxLayout="row" fxLayoutAlign="center center">
                <span class="icon"><i class="fas fa-check"></i></span>
              </div>
              <div class="text" fxLayout="column">
                <h4 class="subtitle2">LOREM IPSUM</h4>
                <p class="description2" fxFlexAlign="end">Lorem ipsum dolor sit amet consectetur
                  adipisicing elit. </p>
              </div>
            </div>
            <div class="items" fxFlex="100%" fxLayout="row" fxLayoutAlign="center center">
              <div class="imageRadius" fxLayout="row" fxLayoutAlign="center center">
                <span class="icon"><i class="fas fa-check"></i></span>
              </div>
              <div class="text" fxLayout="column">
                <h4 class="subtitle2">LOREM IPSUM</h4>
                <p class="description2" fxFlexAlign="end">Lorem ipsum dolor sit amet consectetur
                  adipisicing elit. </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
 <app-footer></app-footer>
</section>
